html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.weather-app {
  height: 100vh;
  width: 100vw;
  display: flex;         
  background-color: #242C38;
}



/* ********************* */
/* * Home Page Styling * */
/* ********************* */

.home-page {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

.nimbus-icon {
    width: 500px;
}




/* **************** */
/* * From Styling * */
/* **************** */

form {
    display: flex;
    align-items: center;
}

input#search {
    font-family: "Krona One", sans-serif;
    height: 30px;
    border-radius: 20px;
    padding-inline-start: 10px;
    color: white;
    font-size: .8rem;
    border-color: rgb(120, 145, 167);
    background-color: #313d4c;
}

button {
    background-color: transparent;
    border: none;
    margin-top: 3px;
    transition: transform 0.3s ease-in-out;
}

button:hover {
    transform: translateX(5px);
}

.submit {
    width: 15px;
    padding-left: 6px;
    cursor: pointer;
}




/* ********************* */
/* * Info Page Styling * */
/* ********************* */

.info-page {
    display: flex;
    width: 100%;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-container {
    background-color: #435267;
    width: 888px;
    height: 440px;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 20px;
}

.icon img {
    width: 180px;
}

img.cloudy {
    width: 220px;
}

img.clear-night {
    width: 80px;
}

.icon {
    padding: 20px;
}

.current-conditions {
    display: flex;
    align-items: center;
    padding-block: 10px;
    padding-left: 20px;
    gap: 5px;
    background-color: #242C38;
    height: 42%;
    border-radius: 20px;
}

h1, h2, p {
    margin: 0;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.7rem;
}

p {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 1.3rem;
    margin-top: 6px;
}

.conditions {
    font-family: "Krona One", sans-serif;
    font-weight: lighter;
    color: white;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 95%;
    width: 70%;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95%;
    width: 30%;
}


.forecast {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    background-color: #242C38;
    height: 50%;
    border-radius: 20px;
    padding-block: 20px;
}

.forecast > div:not(:last-child) {
    border-right: 3px solid #85a1ca;
}

h3 {
    font-family: "Krona One", sans-serif;
    font-size: 1.3rem;
    margin-top: 10px;
    margin-bottom: 20px;
    color: white;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    height: 80px;
    width: 130px;
}

.card p {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 1.2rem;
    font-weight: bolder;
    color: white;
}

.temp {
    display: flex;
    gap: 15px;
}



/* ************************** */
/* * Loading Screen Styling * */
/* ************************** */

#loading-screen {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.307);
    animation: fadeIn 1.5s ease-in infinite;
}

#loading-screen img {
    width: 250px;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0;}
} 